@font-face {
    font-family: 'BebasNeue';
    src: url('bebas-neue-regular.otf');
    font-weight: 600;
    font-style: normal;
}


p { font-family:"BebasNeue"; color:#00f; }

.bg-image-pattern { 
    background:url(test-bigfoot.svg) center center repeat-x;
    width: 100%;
    height: 125px;
    filter: sepia(100%);
}
